<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Web Page</title>
  </head>
  <body>
    <h3>Student Page - Add</h3>
    <div>
      <input style="width: 240px" type="text" placeholder="Enter your Name" />
    </div>
    <br>
    <div>
      <select id="class" name="class" style="width: 246px">
        <option value="" disabled selected>Class</option>
        <option value="A">Class A</option>
        <option value="B">Class B</option>
        <option value="C">Class C</option>
      </select>
    </div>
    <br>
    <input type="submit" value="Save" />
    <hr>

   <a href="/index">Back to Home</a>
    
  </body>
</html>
