<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="text-align: center">
      <img src="../coffee cake/images/cupcake.png" alt="" />
    </div>
    <hr />
    <h3 style="text-align: center">Coffee & Cake</h3>
    <hr />
    <h4>About Us</h4>
    <a>
      We’ve been baking and brewing for over 10 years already! Anyone who’s
      tried our delicious cakes and our signature coffee at least once is now
      our loyal customer.
    </a>
    <a>
      Visit our fabulous little coffee shop, and each hour spent will leave a
      lasting impression for the rest of your week.</a>
      <h3>Our  menu:</h3>
      <h4>Deserts</h4>
      <ul>
        <li>
            Cupcakes
        </li>
        
      </ul>
  </body>
</html>
