<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Velet</title>
</head>

<body>
    <a href="">Back to homepage</a>
    <div>
        <h3 style="text-align: center;">
            Red Velvet Cupcake
        </h3>
        <div style="text-align: center;">
            <img src="../coffee cake/images/cake.jpg" alt="" height="200px" />
        <br>
        </div>
        <a>A cupcake (also known as a fairy cake) is a small cake designed to be eaten by one person, baked in a thin
            paper wrapper, and decorated with frosting on top.</a>
        <br><br>
        <a>One of the mainstays at Coffee & Cake is our famous Red Velvet Cupcake. A well-guarded recipe combined with
            the natural ingredients make this little red rascal unapologetically delicious. Topped with decorative
            vanilla frosting, the Red Velvet Cupcake is a favorite among kids as well.</a>
    </div>
</body>

</html>