<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>

<body>
    <a href="./index.html">Back to main page</a>

    <h3 style="text-align: center;">Contact Us</h3>
    <div>
        <h5>
            Phone:<a href="">(000)000-000</a>
        </h5>
    </div>
    <div>
        <h5>
            Email:<a href="">contacts@coffee.com</a>
        </h5>
    </div>
    <div style="text-align: center;">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.50214312744!2d108.202167!3d16.054407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219c2e7b6b63b%3A0x302aee6e9625d64!2zROG6oW5nIMSQw6AgTmFuZw!5e0!3m2!1svi!2s!4v1696432292829!5m2!1svi!2s"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>

    </div>
</body>

</html>