<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ex01 - CSS Connection</title>

	<link rel="stylesheet" href="../css/ex01-style.css">

	<style>
		/* internal css */
		h2 {
			color: green;
		}

		p.lorem2 {
			font-weight: 700;
		}

		.text-upper-case {
			text-transform: uppercase;
		}

		#signature {
			color: purple;	
			font-style: italic;
		}
	</style>

</head>
<body>

	<h2 class="text-upper-case" style="color: red">LESSON 20: CSS Connection</h2>

	<hr>

	<p>Lorem1 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</p>

	<p class="lorem2 text-upper-case">Lorem2 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</p>

	<ul>
		<li>Inline</li>
		<li>Internal || External</li>
	</ul>

	<hr>

	<p id="signature">Signature: @dev</p>

</body>
</html>