<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ex02 - CSS General Properties</title>

	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/ex02-style.css">


</head>
<body>

	<div class="page-header-container">
		<h2 class="page-header pos-fixed">LESSON 20: CSS Connection</h2>
	</div>

	<hr>

	<p>Lorem1 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</p>

	<p>Lorem2 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</p>

	<ul class="css-import">
		<li>Inline</li>
		<li>Internal || External</li>
		<li class="line-through">Outside</li>
	</ul>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<div class="block-test">Lorem ipsum dolor sit amet.</div>

	<hr>

	<!-- Khi nào sẽ sử dụng thẻ img, dùng thuộc tính background-image -->

	<div class="bgimg-block">
		<div class="bgr-image-01"></div>
		<div class="bgr-image-02"></div>
	</div>	

	<hr>

	<div class="pos-block">
		<div class="block-sm bg-orange a1-block">A1</div>
		<div class="block-sm bg-green a2-block">A2</div>
		<div class="block-sm bg-blue a3-block">A3</div>
	</div>

	<hr>

	<p class="signature">Signature: @dev</p>

</body>
</html>