<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../css/base.css">
<link rel="stylesheet" href="../css/ex02-style.css">

<body>
    <h2 class="page-header">Lesson 20: CSS Connection</h2>

    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, vel obcaecati!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, vel
        obcaecati!</p>

    <ul class="css-import">
        <li>Inline</li>
        <li>Internal || External</li>
        <li class="line-through">Outside</li>
    </ul>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas optio maxime aspernatur veniam natus, totam
        inventore, dignissimos mollitia consectetur impedit eligendi eveniet hic doloribus. Delectus nostrum quibusdam,
        mollitia in quidem facilis! Placeat rerum omnis itaque quas provident! Sequi quisquam architecto repellendus
        recusandae ut suscipit officiis, incidunt quasi commodi odit officia!</p>

        <div class="block-test">Lorem ipsum dolor sit amet.</div>

        <hr>
    <p class="signature">Signature</p>

    <hr>

</body>

</html>