<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../css/base.css">
<link rel="stylesheet" href="../css/ex03-style.css">

<body>
    <h3 class="page-header">Lesson 20: CSS Connection</h3>

    <hr>

    <h1> Float property 01</h1>

    <div class="block block-xs bg-green f-left"></div>

    <div class="block block-md bg-blue"></div>
    <hr>
    <h3>Float Property 02: Text</h3>

    <div class="block block-xs bg-orange f-left"></div>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nisi ratione quisquam tenetur itaque, iste eaque,
        sunt
        possimus nam dolorum quo, quae ipsum voluptates. Ullam, nulla iste! Esse deserunt sunt, et distinctio
        accusantium
        architecto amet quas nostrum voluptatum cupiditate voluptates suscipit, nulla veniam qui? Soluta incidunt ullam,
        officiis maxime commodi rem nesciunt debitis eveniet illo, blanditiis rerum iste. Fuga assumenda quisquam, ullam
        magni dicta rem maiores, quos officiis consectetur alias eveniet neque. Quis eveniet in facilis ipsam eius
        explicabo
        neque!</p>

    <hr class="c-left">

    <p class="c-right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores inventore dolore excepturi
        dolorem laborum qui voluptatem repellendus facilis iure magnam!</p>

    <!-- <div class="block-sm-square bg-pink f-left"></div>
    <div class="block-sm-square bg-blue f-left"></div>
    <div class="block-sm-square bg-red f-left"></div>
    <div class="block-sm-square bg-orange c-left"></div>
    <div class="block-sm-square bg-green"></div> -->

    <hr>

    <div class="container">

        <div class="block-sm-square bg-pink "></div>
        <div class="block-sm-square bg-blue "></div>
        <div class="block-sm-square bg-red "></div>
        <div class="block-sm-square bg-orange "></div>
        <div class="block-sm-square bg-green"></div>

    </div>

    <hr>


    <p class="signature">signature</p>
</body>

</html>