<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/ex04-style.css">
</head>
<body>
    
    <header>
        <img src="../assets/images/exoticar-logo.png" class="logo" alt="ExotiCar">
        <nav class="navbar">
        <a href="#">HOME</a>
        <a href="#">ABOUT</a>
        <a href="#">SERVICES</a>
        <a href="#">INVESTORS</a>
        <a href="#">CONTACT</a>
    </nav>
    </header>
</body>
</html>