</html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ex05 - CSS General Properties P2</title>

	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/ex05-style.css">
</head>
<body>
	<div class="page-header-container">
		<h2 class="page-header pos-fixed">LESSON 20: CSS Connection</h2>
	</div>
	
	<hr>

	<div class="d-visible-block">
		<div class="block-sm bg-green">Block A1</div>
		<div class="block-sm bg-blue invisible">A2 Short</div>
		<div class="block-sm bg-orange">A3 Long Text</div>	
	</div>

	<hr>

	<div class="bgim-gradient-block">
		<div class="box1 block-sm"></div>
		<div class="box2 block-sm"></div><br>
		<div class="box3 block-sm"></div>
		<div class="shadow-block block-sm bg-yellow"></div>
		<div class="box4 block-sm"></div><br>
		<div class="box5 block-sm"></div>
	</div>

	<hr>


	

</body>
</html>