</html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ex06 - CSS Selectors</title>

	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/ex06-style.css">
</head>
<body>
	<h2 class="page-header">LESSON 20: CSS</h2>
	
	<hr>

	<h1>Coffee &amp; Cake</h1>
	<p>We have been banking and brewing</p>
	<h2 class="menu">Our menu:</h2>
	<ul class="gradients">
		<li><a href="">Chocolate cupcake</a></li>
		<li><a href="">Vanilla cupcake</a></li>
	</ul>
	<ol>
		<li><a href="">Americano</a></li>
		<li><a href="">Espresso</a></li>
	</ol>
	<div class="aboutus">
		<p>Read what customer say <a href="">about us</a></p>
	</div>
	<p>We hope to see you soon</p>

	<hr>

	<h3>Pseudo-classes</h3>

	<form>
		<p>
			<input type="text" class="inp-1" placeholder="fullname">
		</p>
		<p class="cbx-group">
			<input type="checkbox" id="fb">
			<label for="fb">football</label> <br>

			<input type="checkbox" id="vlb">
			<label for="vlb">volleybal</label>
		</p>
		<p><input type="email" class="inp-3" placeholder="email" required></p>
		<p><input type="submit" class="inp-4"></p>
	</form>

	<hr>

	<div class="paragraphs"> 
		<h4>P Start</h4>
		<p>Paragraph 1</p>
		<p>Paragraph 2</p>
		<p>Paragraph 3</p>
		<p>Paragraph 4</p>
		<p>Paragraph 5</p>
		<p>Paragraph 6</p>
		<h4>P End</h4>
	</div>

	<hr>

	<div class="box"></div>
</body>
</html>